{% extends "base.html" %}
{% block title %}Buscar Canción{% endblock %}

{% block content %}

<h1><i class="fas fa-search"></i> Buscar Canción</h1>
<a href="/spotify-info" class="btn btn-secondary mb-3">Volver</a>

<div class="card shadow p-4">
    <form method="GET" action="/spotify-info/buscar-track/resultado">
        <label>Nombre de la canción</label>
        <input type="text" class="form-control" name="nombre" required>

        <button class="btn btn-primary w-100 mt-3">Buscar</button>
    </form>
</div>

{% endblock %}
