{% extends "base.html" %}
{% block title %}Buscar Artista{% endblock %}

{% block content %}

<h1><i class="fas fa-user"></i> Buscar Artista</h1>
<a href="/spotify-info" class="btn btn-secondary mb-3">Volver</a>

<div class="card shadow p-4">

    <form action="/spotify-info/buscar-artista/resultado" method="get">
        <label class="form-label">Nombre del artista</label>

        <input
            type="text"
            name="nombre"
            class="form-control"
            placeholder="Ej: Shakira, Feid, Drake"
            required
        >

        <button class="btn btn-success w-100 mt-3">
            Buscar
        </button>
    </form>

</div>

{% endblock %}
